@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");

.dropdown:hover .dropdown-menu {
  display: block;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-left: 2rem solid white;
  border-bottom: 1rem solid transparent;
}
.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  /* text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;  */
}

.rating > .half:before {
  content: "\f005";
  position: absolute;
}

.rating > label {
  /* color: #ddd; */
  color: #ddd;
  float: right;
  /* text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;   */
}

.rating > input:checked ~ label {
  color: #2255b8;
}

.userRating:not(:checked) > label:hover,
.userRating:not(:checked) > label:hover ~ label {
  color: #2255b8;
}

.userRating > input:checked + label:hover,
.userRating > input:checked ~ label:hover,
.userRating > label:hover ~ input:checked ~ label,
.userRating > input:checked ~ label:hover ~ label {
  color: #2255b8;
}

.voice-recorder {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.title {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}

.recorder-container {
  min-width: 300px;
  width: 30vw;
  height: 70vh;
  border-radius: 1rem;
  background: linear-gradient(to right, #3b82f6, #2563eb);
  color: #fff;
}

/* Tiles colors for Dailywords Status on Calendar */
.completed-words {
  background-color: green !important;
  border-radius: 10%;
  box-sizing: border-box !important;
  border: 2px white solid !important;
  font-size: 1em !important;
  color: white;
}

.partially-completed-words {
  background-color: orange !important;
  border-radius: 10%;
  box-sizing: border-box !important;
  border: 2px white solid !important;
  font-size: 1em !important;
  color: white;
}

.not-attempted-words {
  background-color: red !important;
  border-radius: 10%;
  box-sizing: border-box !important;
  border: 2px white solid !important;
  font-size: 1em !important;
  color: white;
}

/* Background Theme Colour */
.bgcolor-one {
  @apply bg-blue-100;
}

.bgcolor-two {
  @apply bg-slate-800;
}

/* Theme Text Color */
.textcolor-one {
  @apply text-black;
}

.textcolor-two {
  @apply text-white;
}

/* Theme Border Color */
.bordercolor-one {
  @apply border-blue-700;
}

.bordercolor-two {
  @apply border-white;
}

.text-one {
  @apply text-xs;
}
.text-two {
  @apply text-sm;
}
.text-three {
  @apply text-base;
}
.text-four {
  @apply text-lg;
}

.textcolor-primary-one {
  @apply text-blue-500;
}
.textcolor-primary-two {
  @apply text-white;
}

.textcolor-secondary-one {
  @apply text-sky-800;
}
.textcolor-secondary-two {
  /* TODO */
  @apply text-white;
}

.hover-bg-color-primary-one {
  @apply hover:bg-white;
}
.hover-bg-color-primary-two {
  @apply hover:bg-blue-500;
}

.light-bgcolor-one {
  @apply bg-white;
}
.light-bgcolor-two {
  @apply bg-slate-700;
}

.light-textcolor-one {
  @apply text-slate-500;
}

.light-textcolor-two {
  @apply text-slate-300;
}

.white-dark-bgcolor-one {
  @apply bg-white;
}

.white-dark-bgcolor-two {
  @apply bg-slate-800;
}
